[submodule "Frost/vendor/assimp"]
	path = Frost/vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Frost/vendor/JoltPhysics"]
	path = Frost/vendor/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "Frost/vendor/imgui"]
	path = Frost/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Frost/vendor/GameInput"]
	path = Frost/vendor/GameInput
	url = https://github.com/microsoftconnect/GameInput.git
